{% extends "base.html" %}

{% block header %}
    <h2>Reverse Learning English</h2>
{% end %}

{% block body %}
<div class="login">
    <h2 style="color:#009fc1;">LOGIN</h2>
    <form>
        <p><span>UserName:</span><input type="TEXT" id="username" /></p>
        <p><span>Password:</span><input type="PASSWORD" id="password" /></p>
        <p><input type="BUTTON" value="LOGIN" id="login" /></p>
    </form>
</div>
{% end %}
{% block js %}
<script type="text/javascript">
//alert($(window).width());

</script>
{% end %}